# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
.env

# VS Code
.vscode/

# Dev Container
.devcontainer/

# Data
data/

# Local configs/secrets
configs/

# Docker
.dockerignore

# Notes
progress_diary.txt
brainstorm.txt


.DS_Store
